<app-back-button></app-back-button>

<div class="page">
  <div class="row mb-4">
    <div class="col-12">
      <div class="d-flex align-items-center">
        <h2 class="page-title mb-0">Reset Sistema</h2>
      </div>
    </div>
  </div>

  <div class="mt-3">
    <form [formGroup]="confFormGroup">
      <div>
        <p-checkbox
          [binary]="true"
          formControlName="deleteAllJobs"
          inputId="del"
        />
        <label class="ms-2" for="del">Annulla tutti i job</label>
      </div>
      <div>
        <p-checkbox
          [binary]="true"
          formControlName="closeAllXdccInstances"
          inputId="cls"
        />
        <label class="ms-2" for="cls">Chiudi tutte le istance XDCCJs</label>
      </div>
      <div>
        <p-checkbox
          [binary]="true"
          formControlName="cleanDownloads"
          inputId="cln"
        />
        <label class="ms-2" for="cln">Pulisci download completati</label>
      </div>
    </form>
    <button class="mt-3" pButton type="button" (click)="reset()">Reset</button>
  </div>
</div>
