@media (max-width: 768px) {
  .p-datatable-custom[matTableResponsive] {
    .p-datatable-thead {
      display: none;
    }

    .mat-mdc-row {
      height: auto;

      td.mat-mdc-cell:not(.mat-column-actions) {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 0.5rem;
        text-align: right;
        word-break: break-word;

        &>* {
          grid-column: 2;
        }

        &:before {
          content: attr(data-column-name);
          text-align: left;
        }
      }

      td.mat-column-actions {
        display: flex;
        justify-content: center;
        padding: 0 0.5rem;

        &>button {
          margin: 0.5rem 0;
        }
      }

      &:last-of-type td:last-of-type {
        border: none;
      }

      &:not(:last-of-type) td:last-of-type {
        border-bottom: 0.5rem solid #fafafa;
      }
    }
  }

  .mat-mdc-card,
  .mat-mdc-expansion-panel {
    .mat-mdc-table[matTableResponsive] {
      border: 0.5rem solid #fafafa;
    }
  }
}

// just for demo purpose
td.mat-column-actions {
  text-align: right;
}