.search-container {
  width: 100%;
}

.search-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.search-input-group {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.search-field-container {
  flex: 1;
  width: 100%;
}

.search-field {
  display: block;
  position: relative;
  width: 100%;
}

.search-icon {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--text-color-secondary);
  pointer-events: none;
}

.filters-row {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.server-select-container {
  flex: 1;
}

.server-select {
  width: 100%;
}

.server-select-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.channel-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  margin-left: 1rem;
}

:host ::ng-deep {
  .p-dropdown {
    width: 100%;
  }
  
  .p-dropdown-panel {
    width: 300px;
  }
  
  .server-group {
    width: 100%;
  }
  
  .all-servers-checkbox .p-checkbox-box {
    width: 20px;
    height: 20px;
  }
  
  .search-field {
    .p-inputtext {
      width: 100%;
      padding-right: 2.5rem; /* Spazio per l'icona */
    }
    
    label {
      z-index: 1;
    }
  }
}