::ng-deep {
  .search-container {
    padding: 0 15%;

    div.mat-mdc-form-field-subscript-wrapper {
      display: none;
    }

    span.mdc-list-item__primary-tex {
      color: blue;
    }
  }

  .pagination-container {
    padding: 0 15%;
  }

  div.results {
    padding: 0 15%;

    th.mat-sort-header-sorted {
      color: black;
    }
  }

  // override padding rules when width < 600px
  @media (max-width: 600px) {
    .search-container {
      padding: 0;
    }

    .pagination-container {
      padding: 0;
    }

    div.results {
      padding: 0;
    }
  }


}