<main class="main">
  <div class="content page">
    <div class="left-side d-flex">
      <h3 class="me-3">XDCCAngular</h3>
      <img
        src="assets/logo.png"
        alt="XDCCAngular logo"
        width="30"
        height="30"
      />
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="pill-group">
        @for (item of items; track item.title) {
        <a class="d-flex align-items-center gap-2" [routerLink]="item.link">
          <mat-icon class="material-icons-outlined">{{ item.icon }}</mat-icon>
          <span>{{ item.title | uppercase }}</span>
        </a>
        }
      </div>
    </div>
  </div>
</main>
