<div class="logs-container">
  <div class="flex p-3">
    @for (message of logs; track message) {
    <div class="row">
      <span class="col">Nick</span>
      <span class="col">{{ message.nick }}</span>
    </div>
    <div class="row mt-2">
      <span class="col">Livello</span
      ><span class="col">{{ message.type }}</span>
    </div>
    <div class="row mt-2">
      <span class="col">Messaggio</span
      ><span class="col">{{ message.message }}</span>
    </div>
    <hr />
    }
  </div>
</div>
<div class="p-dialog-footer">
  <button
    pButton
    label="Chiudi"
    icon="pi pi-times"
    (click)="close()"
    class="p-button-text"
  ></button>
</div>
