<div class="download-container shadow-lg">
  <div
    class="col-12 align-items-center header"
    [style.background]="getHeaderBgColor()"
  >
    <span class="d-flex font-monospace ms-3 text-break">
      {{ downloadItem.fileName }}
    </span>
  </div>
  <div class="align-items-center center">
    <div class="ms-1 d-flex row align-items-center">
      <span
        class="col-2 px-0 position-relative d-flex flex-wrap align-content-center chart"
      >
        <span class="current d-flex align-items-center justify-content-center">
          {{ downloadItem.percentage | number : "1.0-0" }}%
        </span>
        <round-progress
          [current]="downloadItem.percentage"
          [max]="100"
          [color]="getHeaderBgColor()"
          [background]="'#eaeaea'"
          [stroke]="20"
          [semicircle]="false"
          [rounded]="true"
          [clockwise]="true"
          [responsive]="true"
          [duration]="1"
          [animation]="'easeInOutQuart'"
          [animationDelay]="0"
        ></round-progress>
      </span>
      <span class="col d-flex flex-column">
        <span class="text-break">{{ downloadItem.network }}</span>
        <span class="text-break">{{ downloadItem.channelName }}</span>
        <span class="text-break">{{ downloadItem.botName }}</span>
      </span>
      <span class="col">
        <div class="d-flex flex-wrap align-items-center info-container">
          <mat-icon class="material-icons-outlined">info</mat-icon>
          <span>{{ downloadItem.fileSize }}</span>
        </div>

        @if(downloadItem.status === 'downloading') {
        <div class="d-flex flex-wrap align-items-center info-container">
          <mat-icon class="material-icons-outlined">download</mat-icon>
          <span> {{ downloadItem.rate }}</span>
        </div>
        <div class="d-flex flex-wrap align-items-center info-container">
          <mat-icon class="material-icons-outlined">timer</mat-icon>
          <span> {{ downloadItem.eta }}</span>
        </div>
        }
      </span>
      <span class="col-12 d-flex justify-content-end">
        @if(downloadItem.status === 'error') {
        <button mat-icon-button (click)="retryDL()">
          <mat-icon class="material-icons-outlined">refresh</mat-icon>
        </button>
        }
        @if(downloadItem.status !== 'pending' && downloadItem.percentage !==
        100) {
        <button mat-icon-button (click)="showLogs()">
          <mat-icon class="material-icons-outlined">article</mat-icon>
        </button>
        } @if((downloadItem.status === 'downloading' || downloadItem.status ===
        'pending') && downloadItem.percentage !== 100) {
        <button mat-icon-button (click)="cancelDL()">
          <mat-icon class="material-icons-outlined">delete</mat-icon>
        </button>
        } @if(downloadItem.status === 'downloaded' || downloadItem.status ===
        'cancelled' || downloadItem.status === 'error' ||
        downloadItem.percentage === 100) {
        <button mat-icon-button (click)="clearCompletedDL()">
          <mat-icon class="material-icons-outlined">done</mat-icon>
        </button>
        }
      </span>
    </div>
  </div>
</div>
